@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: #fff;
}

.quem-somos-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 800px;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 1);
}

.quem-somos-section h2 {
  font-size: 38px;
}


.conteudo {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1200px;
  gap: 20px;
}

.texto-principal {
  flex: 1;
  color: rgba(0, 0, 0, 1);
  font-size: 21px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  height: 350px;
  text-align: left;
}


p {
  font-size: 21px;
  margin-bottom: 20px;
  color: black;
}

.imagem-container {
  display: flex;
  align-items: center;
}

.imagem-precision {
  position: relative;
  width: 350px;
  height: 100%;
  margin-bottom: 30px;
}

/* Ajustes para telas menores (mobile e tablets) */
@media screen and (max-width: 1200px) {
  .conteudo {
    flex-direction: column;
    width: 100%;
    gap: 20px;
    text-align: center;
  }

  .quem-somos-section h2 {
    font-size: 32px;
    margin-top: 270px;
  }

  .quem-somos-section p {
    font-size: 20px;
  }

  .texto-principal {
    font-size: 16px;
    height: auto;
    text-align: center;
    margin-bottom: 20px;
  }

  .imagem-precision {
    width: 100%;
    max-width: 350px;
    height: 200px;
    margin-bottom: 250px;
  }

  .conteudo p {
    text-align: justify;
    font-size: 14px;
    padding: 0px 20px;
    margin-bottom: 10px;
  }

}