@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.apresentacaoBox {
    width: 100%;
    background-image: url('/src/assets/img/nature-product-backdrop-farm-sunlight.png');
    background-size: cover;
    background-position: 50%;
    text-align: right;
    color: white;
    font-family: Roboto,sans-serif;
    line-height: 15px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.apresentacaoBox div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.apresentacaoBox > div {
    margin-top: 130px;

}
.apresentacaoBox div div {
    width: 90%;
}

.apresentacaoBox h1 {
    font-style: italic;
    margin: 15px 0px;
    line-height: 28px;
    text-align: center;
    font-size: 30px;
}
.apresentacaoBox h3 {
    margin: 3px 0px;
}

.apresentacaoBox span {
    background-color: rgba(255, 255, 255, 0.5);
}

.productImage1 {
    width: 80%;
    height: 180px;
    background-size: cover;
    background-position: 50% 50%;
    margin: 20px;
}

.productImage1 {
    background-image: url('/src/assets/img/alimentador4-removebg-preview.png');
}
.productImage2 {
    background-image: none;
}

.text {
    width: 80% !important;
}


@media only screen and (min-width: 1200px) {

    .apresentacaoBox {
        width: 55%;
        background-image: url('/src/assets/img/nature-product-backdrop-farm-sunlight.png');
        background-size: cover;
        background-position: 50%;
        text-align: right;
        color: white;
        font-family: Roboto,sans-serif;
        line-height: 15px;
        height: 800px;
    }
    .apresentacaoBox h3 {
        margin: 3px 0px;
    }
    
    .apresentacaoBox div {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .apresentacaoBox div div {
        width: 450px;
        height: 210px;
    }

    .productImage1 {
        background-image: url('/src/assets/img/alimentador4-removebg-preview.png');
    }
    .productImage2 {
        background-image: url('/src/assets/img/alimentador3-removebg-preview.png');
    }
    
    .productImage1, .productImage2 {
        width: 70% !important;
        height: 190px !important;
        background-size: cover;
        background-position: 50% 50%;
    }

    .text {
        width: 60% !important;
    }
}

