.titulo-padrao {
  color: rgba(0, 113, 51, 1);
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

.titulo-padrao::after {
  content: ""; 
  display: block;
  width: 150px; 
  height: 2px; 
  background-color: black; 
  margin: 10px auto 0 auto; 
}

.subtitulo-padrao {
  color: #000;
  font-size: 23px;
  font-weight: 400;
  text-align: center;
  max-width: 1200px; 
  margin: 20px auto; 
  line-height: 1.5; 
}
