.footer {
    background-color: black;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resources {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 30px;
    width: 500px;
}
.resources div {
    width: 50%;
}
.resources div div {
    width: 80%;
    margin: auto;
}
.resourcesMobile {
    width: 90%;
}
.resourcesMobile details {
    
    
    margin: auto;
    margin-top: 20px;
    width: 80%;
}
  .resourcesMobile details summary {
    list-style: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.resources ul {
    list-style: none;
    width: 80%;
    margin-top: 20px !important;
    text-align: left;
}

.resources ul, .resourcesMobile ul {
    list-style: none;
    margin-top: 30px;
}
.resourcesMobile ul{
    margin-top: 5px;
}

.resources li, .resourcesMobile li {
    margin: 10px 0px;
}

.resources a, .resourcesMobile a {
    text-decoration: none;
    color: white;
}

.bottom {
    border-top: 1px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-top: 20px;
    width: 1000px;
}

.socials {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

.copyrights {
    margin: 10px;
    display: flex;
    align-items:end;
    justify-content: end;
}
.copyrights p {
    color: white;
    font-size: small;
}
.resourcesMobile {
    display: none;
}

@media(max-width: 1200px) {
    .bottom {
        width: 90%;
    }
    .resources {
        display: none;
        
    }
    .resourcesMobile {
        display: block;
        margin: auto;
    }
    .socials {
        width: 50%;
        justify-content: space-around;
    }
}